/* ******************** Main Style Component Import ******************** */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* ******************** GLOBAL STYLING START ******************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body ::selection {
  background: #ff8161;
  color: #fff;
}

a {
  text-decoration: none;
  display: inline-block;
}

h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  line-height: 1;
}

ul,
li {
  list-style: none;
}

p {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #555;
}

.btn {
  border: 0;
  outline: 0;
  padding: 16px 70px;
  background: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #f13b0f;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s;
}
.btn:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  transform: translateY(-5px) scale(1);
}
.btn:active {
  transform: translateY(0px) scale(0.97) !important;
}

.extra_height {
  display: none;
}

/* ******************** GLOBAL STYLING END ******************** */
/* ******************** RE-USABLE STYLING START ******************** */
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.span {
  margin: 0;
  padding: 0;
}

.cd-headline.clip span {
  padding: 0;
}

.top {
  margin-bottom: 50px;
}
.top h2,
.top p {
  overflow: hidden;
}
.top h2 {
  font-weight: bold;
  font-size: 46px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.top p {
  font-weight: lighter;
  font-size: 18px;
  line-height: 25px;
  color: #555;
}

.landing_section,
.about_us,
.contact,
footer,
.how_we_can_help,
.what_we_do {
  position: relative;
  width: 100%;
  overflow: hidden;
  isolation: isolate;
}

/* ******************** RE-USABLE STYLING END ******************** */
/* ******************** LANDING STYLING START ******************** */
.landing_section {
  height: 100vh;
  background: #f13b0f;
  color: #fff;
  isolation: unset;
}
.landing_section header {
  width: 100%;
  transition: 0.3s;
  position: fixed;
  z-index: 99;
  top: 0;
}
.landing_section header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
  transition: 0.3s;
}
.landing_section header .navbar .brand_id {
  height: 55px;
  opacity: 0;
  transform: translateY(-80px);
  animation: navbarEntry 0.5s ease-in-out forwards;
  transition: 0.3s;
}
.landing_section header .navbar .brand_id img {
  transition: 0.3s;
  height: 100%;
}
.landing_section header .navbar .btn {
  opacity: 0;
  transform: translateY(-80px);
  animation: navbarEntry 0.5s ease-in-out forwards;
  animation-delay: 0.1s;
  transition: 0.3s;
}
.landing_section .nav_bg {
  height: 90px;
}
.landing_section header.nav_active {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.08);
}
.landing_section header.nav_active .navbar {
  padding: 15px 0;
}
.landing_section header.nav_active .navbar a {
  height: 45px;
}
.landing_section header.nav_active .navbar .btn {
  background: #f13b0f;
  color: #fff;
}
.landing_section header.nav_active .navbar .btn:hover {
  background: #fff;
  color: #f13b0f;
  border-color: #f13b0f;
}
.landing_section .slider_landing {
  position: relative;
}
.landing_section .content {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 80px;
}
.landing_section .content .info {
  width: 100%;
  margin-top: -150px;
  position: relative;
  z-index: 6;
}
.landing_section .content h1 {
  font-weight: 800;
  font-size: 74px;
  text-align: left;
  color: #fff;
  overflow: hidden;
  line-height: 84px;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateX(-150px);
  animation: h1TagEntry 0.8s ease-in-out forwards;
  animation-delay: 0.2s;
}
.landing_section .content h2 > span {
  overflow: hidden;
}
.landing_section .content h2 > span .whitespace {
  width: 8px;
  height: 100%;
}
.landing_section .content h2 {
  font-size: 28px;
  opacity: 0;
  transform: translateX(-150px);
  animation: h1TagEntry 0.8s ease-in-out forwards;
  animation-delay: 0.3s;
}
.landing_section .content h2 b i {
  font-style: normal;
}
.landing_section .content .spaceship_container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.landing_section .content .spaceship_container svg {
  max-width: 539px;
  height: 675px;
  overflow-x: hidden;
  overflow-y: visible;
  opacity: 0;
  transform: translateX(250px);
  animation: spaceshipEntry 1s ease-in-out forwards;
  animation-delay: 0.3s;
}
.landing_section .content .spaceship_container svg line {
  opacity: 0;
}
.landing_section .content .spaceship_container svg .shipRotation {
  transition: all 0.3s;
}
.landing_section .landing_bg {
  width: 100%;
}
.landing_section .landing_bg .top_cloud {
  width: 100%;
  height: 260px;
  position: absolute;
  top: 0;
  z-index: 1;
}
.landing_section .landing_bg .top_cloud img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.landing_section .landing_bg .center_cloud div {
  position: absolute;
  opacity: 70%;
  z-index: 1;
  opacity: 0;
}
.landing_section .landing_bg .center_cloud div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.landing_section .landing_bg .center_cloud .cloud1 {
  height: 60px;
  left: 0;
  bottom: 35%;
  animation: smallCloud 20s linear infinite;
  animation-delay: 0;
}
.landing_section .landing_bg .center_cloud .cloud2 {
  height: 25px;
  left: 0;
  top: 25%;
  animation: smallCloud 26s linear infinite;
  animation-delay: 0.8s;
}
.landing_section .landing_bg .center_cloud .cloud3 {
  height: 45px;
  left: 0;
  top: 45%;
  animation: smallCloud 22s linear infinite;
  animation-delay: 1.6s;
}
.landing_section .landing_bg .center_cloud .cloud4 {
  height: 42px;
  left: 0;
  top: 65%;
  animation: smallCloud 24s linear infinite;
  animation-delay: 2.4s;
}
.landing_section .landing_bg .center_cloud .cloud5 {
  height: 47px;
  left: 0;
  top: 15%;
  animation: smallCloud 28s linear infinite;
  animation-delay: 3.2s;
}
.landing_section .landing_bg .center_cloud .cloud6 {
  height: 39px;
  left: 0;
  bottom: 40%;
  animation: smallCloud 32s linear infinite;
  animation-delay: 4s;
}
.landing_section .landing_bg .center_cloud .cloud7 {
  height: 47px;
  left: 0;
  top: 25%;
  animation: smallCloud 36s linear infinite;
  animation-delay: 4.8s;
}
.landing_section .landing_bg .center_cloud .cloud8 {
  height: 45px;
  left: 0;
  bottom: 30%;
  animation: smallCloud 44s linear infinite;
  animation-delay: 5.6s;
}
.landing_section .landing_bg .center_cloud .cloud9 {
  height: 64px;
  left: 0;
  bottom: 50%;
  animation: smallCloud 30s linear infinite;
  animation-delay: 6.4s;
}
.landing_section .landing_bg .cloud_bottom {
  width: 100%;
  overflow: hidden;
}
.landing_section .landing_bg .cloud_bottom div {
  position: absolute;
  transition: 0.3s;
}
.landing_section .landing_bg .cloud_bottom div img {
  margin-left: -4px;
}
.landing_section .landing_bg .cloud_bottom .cloud_bottom1 {
  width: 5760px;
  z-index: 5;
  bottom: 0;
  height: 227px;
}
.landing_section .landing_bg .cloud_bottom .cloud_bottom1 img {
  display: inline-block;
}
.landing_section .landing_bg .cloud_bottom .cloud_bottom1 .first {
  animation: bannermove 40s linear infinite;
}
.landing_section .landing_bg .cloud_bottom .cloud_bottom2 {
  width: 5760px;
  z-index: 4;
  bottom: 0;
  height: 266px;
}
.landing_section .landing_bg .cloud_bottom .cloud_bottom2 img {
  display: inline-block;
}
.landing_section .landing_bg .cloud_bottom .cloud_bottom2 .first {
  animation: bannermove 48s linear infinite;
}
.landing_section .landing_bg .cloud_bottom .cloud_bottom3 {
  width: 5760px;
  z-index: 1;
  bottom: 0;
  height: 338px;
}
.landing_section .landing_bg .cloud_bottom .cloud_bottom3 img {
  display: inline-block;
}
.landing_section .landing_bg .cloud_bottom .cloud_bottom3 .first {
  animation: bannermove 56s linear infinite;
}

/* ******************** LANDING STYLING END ******************** */
/* ******************** WHAT WE DO? STYLING START ******************** */
.what_we_do {
  overflow: unset;
  padding: 150px 0 100px;
  isolation: unset;
}
.what_we_do .content {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 60px;
  align-items: center;
}
.what_we_do .content .left_content .top {
  margin-bottom: 80px;
}
.what_we_do .content .left_content .graphics {
  width: 100%;
  max-width: 500px;
}
.what_we_do .content .left_content .graphics img {
  width: 100%;
}
.what_we_do .content .right_content {
  align-items: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.what_we_do .content .right_content .card_content {
  min-height: 187px;
  max-height: 187px;
  transition: 0.5s;
}
.what_we_do .content .right_content .card {
  text-align: center;
  padding: 30px;
  position: relative;
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 3px 45px rgba(0, 0, 0, 0.08);
  max-height: 187px;
  overflow-y: hidden;
  z-index: 1;
  transition: all 0.6s !important;
}
.what_we_do .content .right_content .card .icon {
  height: 76px;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.what_we_do .content .right_content .card .icon path {
  transition: all 1s !important;
}
.what_we_do .content .right_content .card h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.what_we_do .content .right_content .card p {
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s !important;
  transition-delay: 0.3s;
}
.what_we_do .content .right_content .card .left_gear,
.what_we_do .content .right_content .card .right_gear,
.what_we_do .content .right_content .card .bottom_gear {
  transition: 0.8s;
  transform-box: fill-box;
  transform-origin: center;
  transform: translate(0, 0) rotate(0);
}
.what_we_do .content .right_content .card .store,
.what_we_do .content .right_content .card .cart {
  transition: 0.8s;
  transform-box: fill-box;
  transform-origin: center;
  transform: translate(0, 0);
}
.what_we_do .content .right_content .card .code,
.what_we_do .content .right_content .card .code1,
.what_we_do .content .right_content .card .c_gear,
.what_we_do .content .right_content .card .third_box,
.what_we_do .content .right_content .card .second_box,
.what_we_do .content .right_content .card .first_box {
  transition: 0.8s;
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(1) rotate(0deg);
}
.what_we_do .content .right_content .card .fourth_box {
  transition: 0.8s;
  transform-box: fill-box;
  transform-origin: center;
  transform: scale(0.6) rotate(0deg);
}
.what_we_do .content .right_content .card:hover {
  z-index: 2;
  margin-top: -80px;
  box-shadow: 0px 3px 45px rgba(221, 56, 6, 0.35);
  border: 1px solid #f13b0f;
  max-height: 563px;
}
.what_we_do .content .right_content .card:hover p {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}
.what_we_do .content .right_content .card:hover #light {
  fill: #f13b0f;
}
.what_we_do .content .right_content .card:hover #dark {
  fill: #fbcec3;
}
.what_we_do .content .right_content .card:hover #white {
  fill: #fff;
}
.what_we_do .content .right_content .card:hover .layer3,
.what_we_do .content .right_content .card:hover .layer2 {
  transform: translate(0, -5.592px) !important;
}
.what_we_do .content .right_content .card:hover .left_gear {
  transform: translate(0, 25px) rotate(-360deg);
}
.what_we_do .content .right_content .card:hover .right_gear {
  transform: translate(0, -25px) rotate(-360deg);
}
.what_we_do .content .right_content .card:hover .bottom_gear {
  transform: translate(0, -35px) rotate(-360deg);
}
.what_we_do .content .right_content .card:hover .code {
  transform: scale(1.2) rotate(180deg);
}
.what_we_do .content .right_content .card:hover .code1 {
  transform: scale(1) rotate(180deg);
}
.what_we_do .content .right_content .card:hover .c_gear {
  transform: scale(1) rotate(-180deg);
}
.what_we_do .content .right_content .card:hover .store {
  transform: translate(-35px, 0);
}
.what_we_do .content .right_content .card:hover .cart {
  transform: translate(40px, 0);
}
.what_we_do .content .right_content .card:hover .v2x #white {
  transform: scale(1) rotate(180deg);
}
.what_we_do .content .right_content .card:hover .first_box {
  transform: translateX(15px) rotate(180deg);
  fill: #f13b0f !important;
}
.what_we_do .content .right_content .card:hover .second_box {
  transform: rotate(-225deg);
  fill: #f13b0f !important;
}
.what_we_do .content .right_content .card:hover .third_box {
  transform: translateX(0px) rotate(225deg);
  fill: #f13b0f !important;
}
.what_we_do .content .right_content .card:hover .fourth_box {
  transform: scale(1) rotate(225deg) translateY(0px);
  fill: #f13b0f !important;
}

/* ******************** WHAT WE DO? STYLING END ******************** */
/* ******************** WHAT WE DO? STYLING START ******************** */
.how_we_can_help {
  padding: 130px 0;
  background: #fef5f3;
}
.how_we_can_help .content {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 60px;
  align-items: center;
}
.how_we_can_help .content .left_content {
  width: 100%;
}
.how_we_can_help .content .left_content .hex-layer-2 {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  justify-content: center;
  align-content: center;
}
.how_we_can_help .content .left_content .hex-layer-3 {
  display: grid;
  justify-content: center;
  margin: -30px 0px;
  align-content: center;
  grid-template-columns: repeat(3, 0fr);
}
.how_we_can_help .content .left_content .hex-1,
.how_we_can_help .content .left_content .hex-7 {
  background-color: #f13609;
}
.how_we_can_help .content .left_content .hex-2,
.how_we_can_help .content .left_content .hex-6 {
  background-color: #c12f0c;
}
.how_we_can_help .content .left_content .hex-3,
.how_we_can_help .content .left_content .hex-5 {
  background-color: #d43f1a;
}
.how_we_can_help .content .left_content .hex-4 {
  background-color: #f13b0f;
}
.how_we_can_help .content .left_content .hex {
  width: 100vw;
  height: 100vw;
  max-height: 215px;
  max-width: 215px;
  align-self: center;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 10px;
  transition: all 0.3s;
  position: relative;
}
.how_we_can_help .content .left_content .hex h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #fff;
  line-height: 24px;
  transition: 0.3s !important;
}
.how_we_can_help .content .left_content .hex h2 b {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.6s;
  width: 170px;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
.how_we_can_help .content .left_content .hex h2 .active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.how_we_can_help .content .left_content .hex-1.active {
  background: #c12f0c;
}
.how_we_can_help .content .left_content .hex-2.active {
  background: #d43f1a;
}
.how_we_can_help .content .left_content .hex-3.active {
  background: #f13609;
}
.how_we_can_help .content .left_content .hex-4.active {
  background: #b12300;
}
.how_we_can_help .content .left_content .hex-5.active {
  background: #f13609;
}
.how_we_can_help .content .left_content .hex-6.active {
  background: #d43f1a;
}
.how_we_can_help .content .left_content .hex-7.active {
  background: #c12f0c;
}
.how_we_can_help .content .right_content .top {
  margin-bottom: 80px;
}
.how_we_can_help .content .right_content .graphics {
  width: 100%;
  max-width: 500px;
}
.how_we_can_help .content .right_content .graphics img {
  width: 100%;
}
.how_we_can_help .bg_images div {
  position: absolute;
  z-index: -1;
}
.how_we_can_help .bg_images div img {
  width: 100%;
}
.how_we_can_help .bg_images .image-1 {
  top: 0;
  left: 0;
  width: 80%;
}
.how_we_can_help .bg_images .image-2 {
  bottom: 10px;
  right: 0;
  width: 95%;
} /* ******************** WHAT WE DO? STYLING END ******************** */
/* ******************** ABOUT US STYLING START ******************** */
.about_us {
  padding: 100px 0 150px;
}
.about_us .information {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 60px;
  align-items: center;
}
.about_us .information .left_content .image {
  width: 100%;
  max-width: 500px;
}
.about_us .information .left_content .image img {
  width: 100%;
}
.about_us .more_info {
  text-align: left;
  margin-bottom: 40px;
}
.about_us .more_info h3 {
  font-weight: bold;
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}
.about_us .more_info p {
  font-size: 20px;
  line-height: 30px;
}
.about_us .stats_section {
  width: 100%;
  isolation: isolate;
  position: relative;
  text-align: center;
  padding: 0 !important;
}
.about_us .stats_section h2 {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.02em;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about_us .stats_section .stats_details {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.about_us .stats_section .stats_details .stats {
  background: #f13b0f;
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.12);
  width: 100%;
  min-width: 160px;
}
.about_us .stats_section .stats_details .stats h4 {
  font-weight: bold;
  font-size: 52px;
  color: #fff;
  margin-bottom: 6px;
}
.about_us .stats_section .stats_details .stats p {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.about_us .stats_section .stats_bg {
  position: absolute;
  top: 0;
  left: -40px;
  z-index: -1;
  height: 100%;
  display: none;
}
.about_us .stats_section .stats_bg img {
  height: 100%;
}

/* ******************** ABOUT US STYLING END ******************** */
/* ******************** CONTACT STYLING START ******************** */
.contact {
  padding: 230px 0;
  background: #f13b0f;
  text-align: center;
}
.contact .content {
  width: 100%;
}
.contact .content h2 {
  font-weight: normal;
  font-size: 46px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
.contact .content p {
  color: #fff;
  margin-bottom: 50px;
}
.contact .content .btn {
  font-size: 26px;
  width: 100%;
  max-width: 320px;
  padding: 20px 70px;
}
.contact .contact_bg div {
  position: absolute;
  z-index: -1;
}
.contact .contact_bg .left-image {
  bottom: -5px;
  left: 0;
  width: 50%;
}
.contact .contact_bg .left-image img {
  width: 100%;
}
.contact .contact_bg .right-image {
  bottom: 0;
  left: 50%;
  height: 100%;
}
.contact .contact_bg .right-image img {
  height: 100%;
  object-fit: contain;
}

/* ******************** CONTACT STYLING END ******************** */
/* ******************** Footer STYLING START ******************** */
footer {
  padding: 60px 0 40px;
  background: #0b0b0b;
}
footer .content {
  text-align: center;
}
footer .content .brand_logo {
  height: 40px;
  display: inline-block;
  margin-bottom: 20px;
}
footer .content .brand_logo img {
  height: 100%;
}
footer .content p {
  padding-bottom: 30px;
  max-width: 680px;
  margin: 0 auto;
  color: rgb(167, 167, 167);
}
footer .content .contact_info {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
footer .content .contact_info > div {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  justify-content: center;
}
footer .content .contact_info > div .icon {
  width: 45px;
  height: 45px;
  min-width: 45px;
  min-height: 45px;
}
footer .content .contact_info > div .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
footer .content .contact_info > div p {
  max-width: 252px;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
footer .content .contact_info > div a {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.bottom_copyright {
  width: 100%;
  background: #0a0000;
  text-align: center;
  overflow: hidden;
}
.bottom_copyright p {
  color: #fff;
  padding: 20px 0;
}

/* ******************** Footer STYLING END ******************** */
/* ******************** POPUP STYLING START ******************** */
.popup {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 999;
  transition: 0.3s;
  isolation: isolate;
  overflow: scroll;
}
.popup .popup_box {
  width: 100%;
  position: relative;
  height: 100%;
}
.popup .popup_overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}
.popup .container {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.popup .content {
  height: max-content;
  position: absolute;
  width: calc(100vw - 60px);
  max-width: 1050px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%) scale(0.6);
  transition: 0.3s;
  z-index: 1;
}
.popup .content .form_layout {
  width: 100%;
  border-radius: 24px;
  background: #fff;
  padding: 30px;
  transition: all 0.3s;
}
.popup .content h2 {
  font-weight: bold;
  font-size: 32px;
  color: #333333;
  transition: all 0.3s;
}
.popup .content .close_btn {
  width: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.popup .content .close_btn img {
  width: 100%;
}
.popup .content .close_btn:hover {
  opacity: 0.5;
}
.popup .content .popup_header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 30px;
  transition: all 0.3s;
}
.popup .content .popup_body {
  width: 100%;
  transition: all 0.3s;
}
.popup .content .popup_body form {
  width: 100%;
  position: relative;
  transition: all 0.3s;
}
.popup .content .popup_body form .form_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  transition: all 0.3s;
}
.popup .content .popup_body form .group {
  width: 100%;
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
}
.popup .content .popup_body form .field_group {
  width: 100%;
  max-width: 482px;
  display: flex;
  flex-direction: column;
}
.popup .content .popup_body form .field_group label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #333333;
  margin-bottom: 9px;
  margin-left: 10px;
}
.popup .content .popup_body form .field_group .field,
.popup .content .popup_body form .field_group #project {
  width: 100%;
  height: 55px;
  line-height: 55px;
  border-radius: 8px;
  background: #f4f4f4;
  border: 1px solid #e9e9e9;
  font-family: Roboto;
  font-weight: normal;
  font-size: 15px;
  padding: 0 20px;
  color: #333333;
  transition: 0.3s;
  outline: 0;
}
.popup .content .popup_body form .field_group .field ::placeholder,
.popup .content .popup_body form .field_group #project ::placeholder {
  color: #555;
}
.popup .content .popup_body form .field_group .field:focus,
.popup .content .popup_body form .field_group #project:focus {
  border-color: rgb(28, 190, 69);
  background: #fff;
}
.popup .content .popup_body form .field_group .field:hover,
.popup .content .popup_body form .field_group #project:hover {
  border-color: #fbcec3;
  background: #fff;
  box-shadow: 0 0 35px rgba(241, 60, 15, 0.1);
}
.popup .content .popup_body form .field_group #project {
  background: #fff;
  border: 1px solid rgb(199, 199, 199);
}
.popup .content .popup_body form .field_group #message {
  height: 120px;
  line-height: 20px;
  padding-top: 15px;
  max-width: 990px;
}
.popup .content .popup_body form .message,
.popup .content .popup_body form .dropdown {
  max-width: 100%;
}
.popup .content .popup_body form .btn {
  background: #f13b0f;
  border-color: #f13b0f;
  color: #fff;
  max-width: 482px;
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.popup .content .popup_body form .btn:hover {
  color: #f13b0f;
  background: #fff;
  font-size: 16px;
}
.popup .content .popup_body form .form_success {
  width: 100%;
  top: 100px;
  text-align: center;
  display: none;
  padding: 20px 0;
  transition: all 0.3s;
}
.popup .content .popup_body form .form_success .success_content {
  transition: all 0.3s;
  width: 100%;
}
.popup .content .popup_body form .form_success .success_content .image {
  height: 260px;
  margin-bottom: 40px;
}
.popup .content .popup_body form .form_success .success_content .image img {
  height: 100%;
}
.popup .content .popup_body form .form_success .success_content h2 {
  margin-bottom: 20px;
  line-height: 30px;
}
.popup .content .popup_body form .form_success .success_content p {
  font-size: 18px;
  max-width: 500px;
  margin: 0 auto 30px;
  line-height: 26px;
}
.popup .content .popup_body form .form_success .success_content .btn {
  display: inline-block;
}
.popup .content .popup_footer {
  transition: all 0.3s;
  margin-top: 50px;
}
.popup .content .popup_footer h2 {
  font-size: 24px;
}
.popup .content .popup_footer .contact_info {
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.popup .content .popup_footer .contact_info > div {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  padding: 16px 20px;
  max-width: 317px;
  height: 70px;
  border-radius: 12px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.popup .content .popup_footer .contact_info > div .icon {
  width: 19px;
  min-width: 19px;
  height: fit-content;
}
.popup .content .popup_footer .contact_info > div .icon img {
  height: fit-content;
  width: 100%;
  object-fit: contain;
}
.popup .content .popup_footer .contact_info > div p {
  margin: 0;
  padding: 0;
  color: #333333;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.popup .content .popup_footer .contact_info > div a {
  font-weight: 500;
  color: #333333;
  font-size: 16px;
}
.popup .content .popup_footer .contact_info .phone {
  max-width: 310px;
}
.popup .content .popup_footer .contact_info .phone .icon {
  height: 18px;
  min-height: 18px;
}
.popup .content .popup_footer .contact_info .mail {
  max-width: 310px;
}
.popup .content .popup_footer .contact_info .mail .icon {
  width: 20;
  height: 14px;
  min-width: 20;
  min-height: 14px;
}
.popup .content .popup_footer .contact_info .address {
  max-width: 370px;
  min-width: 301px;
}
.popup .content .popup_footer .contact_info .address .icon {
  width: 17px;
  height: 20px;
  min-width: 17px;
  min-height: 20px;
}
.popup .hide {
  display: none !important;
}
.popup .show {
  display: block !important;
}

.popup_open {
  overflow: hidden;
}

.popup_active {
  opacity: 1;
  visibility: visible;
}
.popup_active .content {
  transform: translate(-50%, -50%) scale(1);
}

/* focus/disabled styles, you can change this for accessibility */
.button:focus,
.button:disabled {
  outline: none;
  background: #e6a3a3 !important;
  border: 0 !important;
}

.spin:hover {
  outline: none;
  transform: translate(0) !important;
  border: 0 !important;
  color: #fff !important;
}

/* This is the space for the spinner to appear, applied to the button */
.spin {
  display: block;
}

/* position of the spinner when it appears, you might have to change these values */
.spin .spinner {
  left: 20px;
  top: 13px;
  width: 20px;
  display: block;
  position: absolute;
}

/* spinner animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* The actual spinner element is a pseudo-element */
.spin .spinner::before {
  content: "";
  width: 15px; /* Size of the spinner */
  height: 15px; /* Change as desired */
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: solid 4px #fff; /* Thickness/color of spinner track */
  border-bottom-color: #f13b0f; /* Color of variant spinner piece */
  animation: 0.8s linear infinite spinner; /* speed of spinner */
  transform: translate(-50%, -50%);
  will-change: transform;
}

/* ******************** POPUP STYLING END ******************** */
/* ******************** ANIMATION STYLING START ******************** */
@keyframes moveclouds {
  0% {
    transform: translate3d(-500px, 0px, 0);
    width: 20px;
    opacity: 0;
  }
  100% {
    transform: translate3d(500px, 0px, 0);
    width: 200px;
    opacity: 1;
  }
}
@keyframes smallCloud {
  10% {
    opacity: 50%;
  }
  100% {
    transform: translateX(1800px);
    opacity: 50%;
  }
}
@keyframes bannermove {
  0% {
    margin-left: -3840px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes navbarEntry {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes h1TagEntry {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes spaceshipEntry {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ******************** ANIMATION STYLING END ******************** */
/* ******************** RESPONSIVE STYLING START ******************** */
@media screen and (max-width: 1280px) {
  .landing_section .content {
    padding: 0;
  }
}
@media screen and (max-width: 1220px) {
  .landing_section .content .info {
    height: 342px;
    margin-top: 0;
  }
  .landing_section .content .info h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .landing_section .content .spaceship_container svg {
    height: 575px;
    width: 100%;
  }
  .how_we_can_help .content .left_content .hex {
    max-width: 180px;
    max-height: 180px;
  }
  .how_we_can_help .content .left_content .hex h2 {
    font-size: 18px;
  }
  .how_we_can_help .content .left_content .hex h2 b {
    width: 140px;
  }
  .about_us .information {
    grid-template-columns: 1fr 1fr;
  }
  .about_us .stats_section {
    padding: 30px;
  }
}
@media screen and (max-width: 950px) {
  .landing_section {
    height: 100%;
  }
  .landing_section .content {
    grid-template-columns: 1fr;
    padding-top: 100px;
    gap: 10px;
  }
  .landing_section .content .info {
    height: 100%;
  }
  .landing_section .content h1,
.landing_section .content h2 {
    text-align: center;
  }
  .landing_section .content .spaceship_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .landing_section .content .spaceship_container svg {
    width: 100%;
    height: 100%;
  }
  .what_we_do .content {
    grid-template-columns: 1fr;
    gap: 60px;
    text-align: center;
  }
  .what_we_do .content .left_content .graphics {
    margin: 0 auto;
  }
  .top {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 30px;
  }
  .how_we_can_help .content {
    display: flex;
    gap: 60px;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about_us .information {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
  }
  .about_us .information .left_content .image {
    margin: 0 auto;
  }
  .about_us .information .right_content h3 {
    margin: 0 auto 20px;
  }
  .about_us .stats_section .stats_details {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact .contact_bg .left-image {
    width: 85%;
  }
  .what_we_do .content .right_content .card,
.what_we_do .content .right_content .card_content {
    max-height: 100%;
  }
  .what_we_do .content .right_content .card:hover,
.what_we_do .content .right_content .card_content:hover {
    margin: 0;
  }
  .what_we_do .content .right_content .card p {
    visibility: visible;
    opacity: 1;
    margin: 0;
    visibility: visible;
  }
  footer .content .contact_info {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  footer .content .contact_info > div {
    justify-content: flex-start;
  }
  .popup .content .popup_footer .contact_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .popup .content .popup_footer .contact_info > div {
    max-width: 100% !important;
  }
  .popup .content .popup_footer .contact_info .address {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .how_we_can_help .content .left_content .hex {
    max-width: 215px;
    max-height: 215px;
  }
  .how_we_can_help .content .left_content .hex h2 {
    font-size: 20px;
  }
  .how_we_can_help .content .left_content .hex h2 b {
    width: 170px;
  }
  .about_us .more_info {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .navbar .btn {
    padding: 12px 25px;
    font-size: 14px;
  }
  .landing_section header .navbar .brand_id {
    height: 30px;
  }
  .navbar {
    align-items: center;
  }
  .landing_section .content h2 {
    text-align: center;
    font-size: 26px;
    line-height: 32px;
    min-height: 96px;
  }
  .container {
    padding: 0 20px;
  }
  .top h2 {
    font-size: 36px;
  }
  .what_we_do .content .right_content {
    grid-template-columns: 1fr;
  }
  .how_we_can_help .content .left_content .hex-layer-3 {
    margin: 20px 0px;
    grid-template-columns: repeat(2, 0fr);
  }
  .hex.hex-5 {
    margin-top: -20px;
    left: 50%;
  }
  .how_we_can_help .content .left_content .hex-layer-2 {
    margin-top: -40px;
  }
  .how_we_can_help .content .left_content .hex {
    max-width: 175px;
    max-height: 175px;
  }
  .how_we_can_help .content .left_content .hex h2 {
    font-size: 16px;
  }
  .how_we_can_help .content .left_content .hex h2 b {
    width: 130px;
  }
  .how_we_can_help .bg_images .image-1 {
    left: -50px;
    width: 150%;
  }
  .how_we_can_help .bg_images .image-2 {
    width: 150%;
  }
  .about_us .information .right_content h3 {
    font-size: 36px;
    line-height: 42px;
  }
  .about_us .stats_section .stats_details {
    grid-template-columns: repeat(1, 1fr);
  }
  .about_us .stats_section {
    padding: 40px 30px 50px;
  }
  footer .content .contact_info {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .extra_height {
    display: block;
    height: 30px;
    visibility: hidden;
  }
  .what_we_do .content .right_content .card::before {
    margin-left: -10px;
  }
  .popup .content .popup_footer .contact_info {
    grid-template-columns: 1fr;
  }
  .popup .content .popup_footer .contact_info .address {
    grid-column-start: unset;
    grid-column-end: unset;
  }
  .popup .content .popup_body form .group {
    flex-wrap: wrap;
  }
  .popup .content .form_layout {
    padding: 20px;
    border-radius: 16px;
  }
  .popup .content .form_layout h2 {
    font-size: 24px;
  }
  .popup .content .form_layout .popup_footer .contact_info .address {
    min-width: unset;
  }
  .popup .content .form_layout .popup_footer .contact_info > div {
    height: unset;
  }
  .popup .content {
    height: 100%;
    width: calc(100vw - 40px);
  }
  .popup .content .popup_body form .field_group {
    max-width: 100%;
  }
  .landing_section header.nav_active .navbar a {
    height: 30px;
  }
  .landing_section .content .info h1 {
    font-size: 52px;
    line-height: 60px;
  }
  .popup .content .popup_body form .form_success .success_content .image {
    width: 100%;
    height: unset;
  }
  .popup .content .popup_body form .form_success .success_content .image img {
    width: 100%;
    object-fit: contain;
  }
}
@media screen and (max-width: 380px) {
  .contact .contact_bg .left-image {
    width: 150%;
  }
  .contact .contact_bg .right-image {
    bottom: 0;
    left: -6%;
    height: 60%;
    top: 0;
  }
}
@media screen and (max-width: 321px) {
  .landing_section .content .info h1 {
    font-size: 28px;
  }
  .top h2,
.about_us .stats_section h2 {
    font-size: 24px;
  }
  .how_we_can_help .content .left_content .hex {
    max-width: 150px;
    max-height: 150px;
  }
  .about_us .stats_section .stats_details .stats h4 {
    font-size: 42px;
  }
  .contact .content h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .btn {
    padding: 16px 50px;
    width: 100%;
  }
}
@media screen and (min-width: 1921px) {
  .landing_section .slider_landing {
    top: 40%;
    transform: translateY(-50%);
  }
}
/* ******************** RESPONSIVE STYLING END ******************** *//*# sourceMappingURL=style.css.map */