@media screen and (max-width: 1220px) {
  .landing_section .content .info {
    height: 342px;
    margin-top: 0;

    h1 {
      font-size: 38px;
    }
  }

  .landing_section .content .spaceship_container svg {
    height: 575px;
    width: 100%;
  }

  .how_we_can_help .content .left_content .hex {
    max-width: 170px;
    max-height: 170px;
  }
  .about_us .information {
    grid-template-columns: 1fr 1fr;
  }
  .about_us .stats_section {
    margin-top: 60px;
  }
}

@media screen and (max-width: 950px) {
  .landing_section {
    height: 100%;
  }
  .landing_section .content {
    grid-template-columns: 1fr;
    padding-top: 100px;
    gap: 10px;

    .info {
      height: 100%;
    }

    h1,
    h2 {
      text-align: center;
    }
  }
  .landing_section .content .spaceship_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  .what_we_do .content {
    grid-template-columns: 1fr;
    gap: 60px;
    text-align: center;

    .left_content .graphics {
      margin: 0 auto;
    }
  }
  .top {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 30px;
  }

  .how_we_can_help .content {
    display: flex;
    gap: 60px;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about_us .information {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;

    .left_content .image {
      margin: 0 auto;
    }
    .right_content h3 {
      margin: 0 auto 20px;
    }
  }
  .about_us .stats_section .stats_details {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact .contact_bg .left-image {
    width: 85%;
  }
  .what_we_do .content .right_content .card p {
    height: auto;
    visibility: visible;
    opacity: 1;
  }
  .what_we_do .content .right_content .card h3 {
    margin-bottom: 10px;
  }
  footer .content .contact_info {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  footer .content .contact_info > div {
    justify-content: flex-start;
  }
  .popup .content .popup_footer .contact_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    > div {
      max-width: 100% !important;
    }
    .address {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar .btn {
    padding: 12px 25px;
    font-size: 14px;
  }
  .landing_section header .navbar .brand_id {
    height: 30px;
  }
  .navbar {
    align-items: center;
  }
  .landing_section .content h2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .container {
    padding: 0 20px;
  }

  h1 {
    font-size: 28px;
  }
  .top h2 {
    font-size: 26px;
  }
  .what_we_do .content .right_content {
    grid-template-columns: 1fr;
  }
  .how_we_can_help .content .left_content .hex-layer-3 {
    margin: 20px 0px;
    grid-template-columns: repeat(2, 0fr);
  }
  .hex.hex-5 {
    margin-top: -20px;
    left: 50%;
  }
  .how_we_can_help .content .left_content .hex-layer-2 {
    margin-top: -40px;
  }
  .how_we_can_help .content .left_content .hex h2 {
    font-size: 16px;
  }
  .how_we_can_help .bg_images .image-1 {
    left: -50px;
    width: 150%;
  }
  .how_we_can_help .bg_images .image-2 {
    width: 150%;
  }
  .about_us .information .right_content h3 {
    font-size: 28px;
    line-height: 32px;
  }
  .about_us .stats_section .stats_details {
    grid-template-columns: repeat(1, 1fr);
  }
  .about_us .stats_section {
    padding: 40px 30px 50px;
  }
  footer .content .contact_info {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .extra_height {
    display: block;
    height: 30px;
    visibility: hidden;
  }
  .what_we_do .content .right_content .card::before {
    margin-left: -10px;
  }
  .popup .content .popup_footer .contact_info {
    grid-template-columns: 1fr;
    .address {
      grid-column-start: unset;
      grid-column-end: unset;
    }
  }
  .popup .content .popup_body form .group {
    flex-wrap: wrap;
  }
  .popup .content .form_layout {
    padding: 20px;
    border-radius: 16px;

    h2 {
      font-size: 24px;
    }
    .popup_footer .contact_info .address {
      min-width: unset;
    }
    .popup_footer .contact_info > div {
      height: unset;
    }
  }
  .popup .content {
    height: 100%;
    width: calc(100vw - 40px);
  }
  .popup .content .popup_body form .field_group {
    max-width: 100%;
  }
  .landing_section header.nav_active .navbar a {
    height: 30px;
  }
}
@media screen and (max-width: 380px) {
  .contact .contact_bg .left-image {
    width: 150%;
  }
  .contact .contact_bg .right-image {
    bottom: 0;
    left: -6%;
    height: 60%;
    top: 0;
  }
}
@media screen and (max-width: 321px) {
  .landing_section .content .info h1 {
    font-size: 28px;
  }
  .top h2,
  .about_us .stats_section h2 {
    font-size: 24px;
  }
  .how_we_can_help .content .left_content .hex {
    max-width: 150px;
    max-height: 150px;
  }
  .about_us .stats_section .stats_details .stats h4 {
    font-size: 42px;
  }
  .contact .content h2 {
    font-size: 30px;
    font-weight: 600;
  }
  .btn {
    padding: 16px 50px;
    width: 100%;
  }
}
@media screen and (min-width: 1921px) {
  //For Projectors or Higher Resolution Screens (Full HD)
  .landing_section .slider_landing {
    top: 40%;
    transform: translateY(-50%);
  }
}
